@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  body {
    @apply bg-evBlack text-white overflow-x-hidden antialiased;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .bg-inner-glow {
    background: linear-gradient(180deg, #000000 0%, #1A1A1A 60%, rgba(255,255,255,0.08) 100%);
  }
}
